* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:sans-serif;
    height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:white;
   
}

.calculator {
  background: black;
  color: white;
  height: 80%px;
  padding: 20px;
  position: relative;
  width: 563px;
  gap: 10px;
  margin: 50px;
}

.top-container {
  display: flex;
  width:530px;
  margin-right: 40px;
  background-color: #4B4B4B;
  color: white;
  height: 200px;
  border-radius:0px 0px 46px 46px;
  margin-bottom: 10px;
  justify-content: end;
  

   }

.img{
  display: flex;
  justify-content:flex-end;
  align-items: first baseline;

}
.txt{
  color: white;
  font-size:6rem;
  display: flex;
  justify-content: right;
  
}
.txt1{
  color: white;
  font-size:4rem;
  display: flex;
  justify-content:right;
  align-items: end;

}

.value {
  font-size: 130px;
  font-weight: 300;
  height: 158px;
  margin-bottom: 20px;
  margin-right: 20px;
  
}

.buttons-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 100px;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 20px;
  
  gap: 10px;

}

.button.function {
  color: black;
  background: #a5a5a5;
}

.button.operator {
  background: #f1a33c;
}


 .button:active, 
.button:focus {
  filter: brightness(120%);
}

.bottom {
  width: 200px;
  height: 5px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} 
